*{
    margin:0px;
    padding: 0px;
}

:root{
    font-size: 16px;
}

.detailsContainer{
    min-height:calc(100vh - 57px);
    align-items: center;
    flex-wrap: wrap;
}

.countryDetails{
    display: flex;
    width:90vw;
    align-self: center;
    margin: auto;
    column-gap: 3vw;
    flex-wrap: wrap;
    align-items: center;
    word-wrap: break-word;
}

.countryDetails .imageBox{
    width: 50%;
}

.imageBox img{
    width: 100%;
    max-height: 50vh;
}

.contentBox{
    width: 30%;
}

.contentBox h2{
    font-size: 1.8rem;
    font-weight: bolder;
}

.informations{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20vh;
    flex-wrap: wrap;
    column-gap: 5vw;
    margin-top: 2rem;
}

.backButton{
    display: flex;
    width: 90vw;
    justify-content: flex-start;
    margin: auto;
    padding: 5rem 0;

}

.backButton button{
    display: flex;
    width: 8vw;
    padding: 0.7rem 1.2rem;
    border: none;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1.1rem;
    cursor: pointer;
}

.backButton img{
    width: 25px;
}
.points{
    justify-content: space-between;
    font-weight:600;
    font-size: 1.1rem;
}

ul li{
    max-width: 300px;
    list-style: none;
    padding: 0.5rem 0;
    
}

.borderCountries{
    display: flex;
    column-gap: 1.2rem;
    padding: 5rem 0rem;
    align-items: center;
    flex-wrap: wrap;

}

.borderCountries span{
    font-size: 1.2rem;
    font-weight: 800;
}

.borderCountry {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.border{
    padding: 0.7rem 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-decoration: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #ff3d00;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:480px) {

    :root{
        font-size: 14px;
    }

    .countryDetails{
        row-gap: 3vh;
    }

    .contentBox{
        width: 100%;
    }

    .contentBox h2{
        width: 100%;
    }

    .countryDetails .imageBox{
        width: 100%;
    }

    .backButton button{
        width: 30vw;
    }

    .imageBox img{
        max-height: 30vh;
    }

    ul li{
        width: 95vw;
    }

    .informations{
        flex-direction: row;
        row-gap: 2rem;
        max-height: 50vh;
    }
}