@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Odibee+Sans&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}

body {
    background-color: hsl(0, 0%, 98%);
}

h1 {
    flex-basis: 100vw;
    text-align: center;
    font-weight: bolder;
}

h2,
h4 {
    font-weight: 600;
}

.header {
    display: flex;
    flex-basis: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
}

.container {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.search_bar {
    position: relative;
}

.search_bar img {
    width: 16px;
    position: absolute;
    top: 25%;
    left: 5%;
}

.inputs_container {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    margin: 8vh auto;
    flex-wrap: wrap;
}

.search,
select {
    border: none;
    outline: none;
    display: inline-block;
    width: 25vw;
    padding: 0.8rem 3rem;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 52%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

select {
    width: 13vw;
    padding: 0.8rem 1rem;
    padding-right: 2rem;
    color: #000;
    text-transform: capitalize;
}
.card {
    flex-basis: 22%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.country_flag {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    box-sizing: border-box;
    place-items: stretch;
}

.country_flag img {
    width: 100%;
}

.country_container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 3.2vw;
    margin: auto;
    justify-self: center;
}

.info {
    padding: 1rem 1.5rem;
    text-transform: capitalize;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 0 1.5rem 0;
}

.infos {
    padding: 0.2rem 0;
}

.theme_mode img {
    width: 20px;
    height: 20px;
}

.theme_mode {
    display: flex;
    flex-basis: 8vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    column-gap: 1vw;
}

.theme_mode button {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #ff3d00;
}

.ErrorContainer{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    column-gap: 30px;
    align-items: center;
}

.ErrorContainer img{
    width: 50px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 12px;
    }

    .search {
        width: 85vw;
        padding-left: 13vw;
    }

    .theme_mode {
        flex-basis: 29vw;
        column-gap: 1vw;
    }

    select {
        width: 40vw;
        margin-top: 2vh;
    }

    .card {
        flex-basis: 100vw;
    }

    .logo h2{
        font-size: 1.2rem;
    }
}
